<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Contáctanos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Soporte</a></li>
            <li class="breadcrumb-item active">Contáctanos</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="text-center mb-4">
        <img src="assets/adminlte/dist/img/HELPC.png" alt="Logo HelpConnect" class="img-fluid" style="max-width: 200px;">
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Información de Contacto</h3>
        </div>
        <div class="card-body">
          <p><strong>Correo Electrónico:</strong> <a >HelpConnect-Support.com</a></p>
          <p><strong>Número de Teléfono:</strong> +1 (555) 123-4567</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Información Legal</h3>
        </div>
        <div class="card-body">
          <p><strong>Nombre del Representante Legal:</strong> Jefferson Calderón Munera</p>
          <p><strong>NIT:</strong> 1017239114-1</p>
          <p><strong>Dirección:</strong> Calle 123 # 45-67, Ciudad, País</p>
          <p><strong>Términos y Condiciones:</strong> <a href="#">Enlace a los términos y condiciones</a></p>
          <p><strong>Política de Privacidad:</strong> <a href="#">Enlace a la política de privacidad</a></p>
        </div>
      </div>
    </div>
  </section>
</div>