<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Chat Directo</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Canales</a></li>
              <li class="breadcrumb-item active">Chat</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
  
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-primary direct-chat direct-chat-primary">
          <div class="card-header">
            <h3 class="card-title">Conversación</h3>
  
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="direct-chat-messages" style="height: 400px;">
              <div class="direct-chat-msg">
                <div class="direct-chat-infos clearfix">
                  <span class="direct-chat-name float-left">Usuario</span>
                  <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                </div>
                <img class="direct-chat-img" src="assets/adminlte/dist/img/avatar4.png" alt="message user image">
                <div class="direct-chat-text">
                  Necesito soporte con mi cuenta.
                </div>
              </div>
              <div class="direct-chat-msg right">
                <div class="direct-chat-infos clearfix">
                  <span class="direct-chat-name float-right">Admin</span>
                  <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                </div>
                <img class="direct-chat-img" src="assets/adminlte/dist/img/avatar.png" alt="message user image">
                <div class="direct-chat-text">
                  Hola, ¿cuál es el ID de tu usuario?
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <form action="#" method="post">
              <div class="input-group">
                <input type="text" name="message" placeholder="Escribe tu mensaje..." class="form-control">
                <span class="input-group-append">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>